appdirs==1.4.4
click==8.2.1
cramjam==2.11.0
-e git+ssh://git@github.com/SecuritahGuy/draftkit.git@78d4c207e38bef3a299e20fdc20cefd4d67a5c1f#egg=draftkid
fastparquet==2024.11.0
fsspec==2025.7.0
iniconfig==2.1.0
joblib==1.5.1
markdown-it-py==3.0.0
mdurl==0.1.2
nfl_data_py==0.3.3
numpy==1.26.4
packaging==25.0
pandas==1.5.3
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
rich==14.1.0
scikit-learn==1.3.2
scipy==1.16.1
shellingham==1.5.4
six==1.17.0
threadpoolctl==3.6.0
typer==0.16.0
typing_extensions==4.14.1
